<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @score_item.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @score_item.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @score_item.number %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score_item.score %>
</p>

<p>
  <strong>Process:</strong>
  <%= @score_item.process %>
</p>
</hr>
<div class="btn-group" role="group">
<%= link_to 'Edit', edit_score_item_path(@score_item) ,class: 'btn btn-success'%> |
<%= link_to 'Back', score_items_path %>
</div>

